body {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  
  svg {
    display: none;
  }
  
  .header {
     background: rgba(255,255,255,.5);
    border-bottom: 1px solid #EEE;
    box-shadow: 2px 0px 10px rgba(0,0,0,.2);
    height: 200px;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 1.;
  }
  
  .header::before, .header::after {
    content: '';
    display: block;
    left: 0px;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .header::before {
    backdrop-filter: url(#noiseFilter);
    z-index: 2;
  }
  .header::after {
    backdrop-filter: blur(5px);
    z-index: 1;
  }
  .header .content {
    margin-top: 0px;
    position: relative;
    z-index: 2;
  }
  
  .content {
    margin: 50px auto 100px auto;
    max-width: 800px;
  }
  h1, h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
  }
  
  img {
    max-width: 100%;
  }
  
  figcaption {
    font-size: 18px;
    font-style: italic;
  }